<div class="mb-4">
  <h2 class="text-success">Forgot Password</h2>
  <div>
    Remember password
    <a
      routerLink="/signin"
      class="text-decoration-none fw-medium text-success d-inlin-block"
      >Sign in</a
    >
  </div>
</div>
<form [formGroup]="forgotPassForm" (ngSubmit)="onSubmit()">
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="Email"
      formControlName="email"
    />
    <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('email') &&
        forgotPassForm.controls.email.hasError('required')
      "
    >
      Please enter your email address.
    </div>
  </div>
  <div class="mb-3">
    <input
      class="form-control bg-body-secondary"
      placeholder="New Password"
      formControlName="newPassword"
    />
    <div
      class="error-feedback"
      *ngIf="
        hasDisplayableError('newPassword') &&
        forgotPassForm.controls.newPassword.hasError('required')
      "
    >
      Please enter your new password.
    </div>
  </div>
  <div class="mt-4">
    <button type="submit" class="btn btn-success w-100 rounded-3">Send</button>
  </div>
</form>
